name: Deploy React + TypeScript to GitHub Pages

on:
  push:
    branches:
      - '*'   # or master, adjust if needed
  workflow_dispatch:  # allows manual run from the Actions tab

permissions:
  contents: write  # needed to push to gh-pages

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
         # ref: 1.2.50
          ref: main
          
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build React project
        run: npm run build

      - name: Prepare deploy folder
        run: |
          rm -rf deploy
          mkdir deploy
          mv dist/* deploy/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./deploy
          #publish_branch: myweb1250
